In [12]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [13]:
# Extract the first dataset
credit_ny = "credit_ny.csv"
credit_df = pd.read_csv(credit_ny)

# Drop the NaN
credit_df = credit_df.dropna(axis=0,  how='any')

# Drop the unnecessary columns
credit_df = credit_df.drop(columns = ["Area Type", "Area", "Quarter", "NAICS", "Month 1 Employment",
                          "Month 3 Employment"])

In [14]:
# Filter the dataset by year to match the results of the second one
credit_df = credit_df[credit_df["Year"] > 2000]
credit_df = credit_df[credit_df["Year"] < 2016]
credit_df.head()

,Year,NAICS Title,Establishments,Month 2 Employment,Total Wage
2585,2015,"Total, All Industries",10274,233510,3.378779e+09
2586,2015,"Total, All Private",9848,171494,2.364790e+09
2587,2015,"Agriculture, Forestry, Fishing and Hunting",19,208,1.682307e+06
2588,2015,Utilities,12,684,1.906144e+07
2589,2015,Construction,682,7877,1.494423e+08

In [15]:
# Concatenate Year and Name of the Industry Sector
credit_df["year_naics"] = credit_df["Year"].map(str) + [" "] + credit_df["NAICS Title"]
credit_df.head()

,Year,NAICS Title,Establishments,Month 2 Employment,Total Wage,year_naics
2585,2015,"Total, All Industries",10274,233510,3.378779e+09,"2015 Total, All Industries"
2586,2015,"Total, All Private",9848,171494,2.364790e+09,"2015 Total, All Private"
2587,2015,"Agriculture, Forestry, Fishing and Hunting",19,208,1.682307e+06,"2015 Agriculture, Forestry, Fishing and Hunting"
2588,2015,Utilities,12,684,1.906144e+07,2015 Utilities
2589,2015,Construction,682,7877,1.494423e+08,2015 Construction

In [16]:
# Reset Index
credit_df = credit_df.set_index("year_naics")
credit_df.head()

,Year,NAICS Title,Establishments,Month 2 Employment,Total Wage
year_naics,,,,,
"2015 Total, All Industries",2015,"Total, All Industries",10274,233510,3.378779e+09
"2015 Total, All Private",2015,"Total, All Private",9848,171494,2.364790e+09
"2015 Agriculture, Forestry, Fishing and Hunting",2015,"Agriculture, Forestry, Fishing and Hunting",19,208,1.682307e+06
2015 Utilities,2015,Utilities,12,684,1.906144e+07
2015 Construction,2015,Construction,682,7877,1.494423e+08

In [17]:
# Rename the columns 
credit_df = credit_df.rename(columns = {"Month 2 Employment": "average_employment",
                                        "Establishments": "establishments",
                                        "Total Wage                                                                                                                       ": "total_wage"})

In [18]:
#Pivot Table 
credit_df_pivot = pd.pivot_table(credit_df, values = ["average_employment", "establishments", "total_wage"],
                                 index = "year_naics", aggfunc = {"establishments": np.sum,
                                                                  "average_employment": np.mean,
                                                                 "total_wage": np.sum})
                                 

credit_df_pivot

,average_employment,establishments,total_wage
year_naics,,,
2001 Accommodation,3104.384091,44061,9.487527e+09
2001 Accommodation and Food Services,18073.588362,622181,3.533625e+10
2001 Administrative and Support Services,14426.309890,360768,4.788882e+10
2001 Administrative and Waste Services,14919.989130,381305,5.082784e+10
2001 Agriculture & Forestry Support Activity,160.146552,4910,2.364816e+08
"2001 Agriculture, Forestry, Fishing and Hunting",814.369565,39760,2.068953e+09
2001 Air Transportation,4192.704545,5072,7.872049e+09
2001 Ambulatory Health Care Services,11026.821121,541357,5.173478e+10
"2001 Amusement, Gambling & Recreation Ind",2282.332589,66053,4.561004e+09
2001 Animal Production,330.634715,11191,7.164386e+08
2001 Apparel Manufacturing,4085.521327,51476,6.599310e+09
"2001 Arts, Entertainment, and Recreation",4397.653509,150392,1.756835e+10
2001 Beverage & Tobacco Product Manufacturing,594.743169,2442,1.982946e+09
2001 Broadcasting (except Internet),2340.591760,7500,1.216124e+10
2001 Building Material & Garden Supply Stores,2096.439655,76595,6.728365e+09
2001 Chemical Manufacturing,4240.771784,10137,1.424617e+10
2001 Clothing and Clothing Accessories Stores,4180.914474,189092,1.092363e+10
2001 Computer and Electronic Product Mfg,4354.257764,17423,2.202827e+10
2001 Construction,11507.420259,698264,6.149819e+10
2001 Construction of Buildings,2757.517241,215428,1.438713e+10
2001 Couriers and Messengers,2863.882096,18923,5.173775e+09
2001 Credit Intermediation & Related Activity,6328.661638,128934,5.992875e+10
2001 Crop Production,522.723647,16870,9.510116e+08
2001 Educational Services,9077.640777,185162,6.406828e+10
2001 Electrical Equipment and Appliances,1511.615741,6145,3.176329e+09
2001 Electronic Markets and Agents/Brokers,1065.992991,117461,6.750978e+09
2001 Electronics and Appliance Stores,1159.579065,58622,4.648981e+09
2001 Fabricated Metal Product Manufacturing,2657.661905,44267,1.070289e+10
2001 Federal Government,4744.709402,33792,2.602978e+10
2001 Finance and Insurance,19261.782328,440899,3.024507e+11
...,...,...,...
2015 Rail Transportation,22.250000,32,2.377599e+06
2015 Real Estate,6445.428571,655315,5.778213e+10
2015 Real Estate and Rental and Leasing,7497.614662,716985,6.561154e+10
2015 Rental and Leasing Services,1024.472222,57091,6.503561e+09
2015 Repair and Maintenance,2563.712121,273157,1.309212e+10
2015 Retail Trade,39000.317669,1618709,1.703292e+11
2015 Scenic and Sightseeing Transportation,463.156250,3890,5.007710e+08
2015 Social Assistance,12689.732955,257473,4.634939e+10
2015 Specialty Trade Contractors,9656.276316,637944,8.226935e+10
2015 Sporting Goods/Hobby/Book/Music Stores,1597.535156,74844,4.284504e+09
2015 State Government,9605.776316,75595,7.745382e+10
2015 Support Activities for Mining,72.812500,1003,1.139879e+08
2015 Support Activities for Transportation,1499.081206,50037,8.493225e+09
2015 Telecommunications,2173.826754,31096,2.559614e+10
2015 Textile Mills,422.949640,4119,9.201518e+08
2015 Textile Product Mills,318.946154,7240,9.735085e+08
"2015 Total, All Government",56002.753759,323107,4.521387e+11
"2015 Total, All Industries",364047.398496,13029068,3.188693e+12
"2015 Total, All Private",308044.644737,12705961,2.736554e+12
2015 Transit and Ground Passenger Transport,3120.441667,59854,1.313946e+10
2015 Transportation Equipment Manufacturing,1472.130137,7346,7.528731e+09
2015 Transportation and Warehousing,9731.555344,255817,6.128780e+10
2015 Truck Transportation,1683.467803,86483,1.073683e+10
2015 Unclassified,1354.314563,705199,7.064269e+09
2015 Utilities,2015.936111,22712,4.040241e+10
2015 Warehousing and Storage,1344.642442,14226,5.185888e+09
2015 Waste Management and Remediation Service,1065.796296,34900,7.307638e+09
2015 Water Transportation,820.739130,1822,1.789522e+09
2015 Wholesale Trade,13208.988636,697800,1.373584e+11
2015 Wood Product Manufacturing,423.859813,10994,1.927919e+09

In [19]:
# Extract second dataset
employment_ny = "employment_ny.csv"
employment_df = pd.read_csv(employment_ny)
employment_df

,Tax Year,Tax Article,Credit Type,Credit Name,NAICS Description,Notes,Number of Taxpayers,Amount of Credit,Percent of Credit,Median Amount of Credit,Mean Amount of Credit,Group Sort Order,Credit Type Sort Order
0,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,"Agriculture, Forestry, Fishing and Hunting",NaN,0.0,0.000000e+00,0.00,0.0,0.0,11,1
1,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,"Mining, Quarrying, and Oil and Gas Extraction",d/,NaN,NaN,NaN,NaN,NaN,21,1
2,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Utilities,NaN,0.0,0.000000e+00,0.00,0.0,0.0,22,1
3,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Construction,NaN,0.0,0.000000e+00,0.00,0.0,0.0,23,1
4,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Manufacturing,d/,NaN,NaN,NaN,NaN,NaN,31,1
5,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Wholesale Trade,NaN,0.0,0.000000e+00,0.00,0.0,0.0,42,1
6,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Retail Trade,NaN,0.0,0.000000e+00,0.00,0.0,0.0,44,1
7,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Transportation and Warehousing,NaN,0.0,0.000000e+00,0.00,0.0,0.0,48,1
8,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Information,NaN,0.0,0.000000e+00,0.00,0.0,0.0,51,1
9,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Finance and Insurance,NaN,0.0,0.000000e+00,0.00,0.0,0.0,52,1
10,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Real Estate and Rental and Leasing,NaN,0.0,0.000000e+00,0.00,0.0,0.0,53,1
11,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,"Professional, Scientific, and Technical Services",d/,NaN,NaN,NaN,NaN,NaN,54,1
12,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Management of Companies and Enterprises,d/,NaN,NaN,NaN,NaN,NaN,55,1
13,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Administrative and Support and Waste Managemen...,NaN,0.0,0.000000e+00,0.00,0.0,0.0,56,1
14,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Educational Services,NaN,0.0,0.000000e+00,0.00,0.0,0.0,61,1
15,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Health Care and Social Assistance,NaN,0.0,0.000000e+00,0.00,0.0,0.0,62,1
16,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,"Arts, Entertainment, and Recreation",NaN,0.0,0.000000e+00,0.00,0.0,0.0,71,1
17,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Accommodation and Food Services,NaN,0.0,0.000000e+00,0.00,0.0,0.0,72,1
18,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Other Services (except Public Administration),d/,NaN,NaN,NaN,NaN,NaN,81,1
19,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Public Administration,NaN,0.0,0.000000e+00,0.00,0.0,0.0,92,1
20,2015,9A,Credit Earned,Alternative Fuels and Electric Vehicle Recharg...,Total,NaN,5.0,3.986600e+04,100.00,10000.0,7973.0,999,1
21,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,"Agriculture, Forestry, Fishing and Hunting",NaN,0.0,0.000000e+00,0.00,0.0,0.0,11,5
22,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,"Mining, Quarrying, and Oil and Gas Extraction",d/,NaN,NaN,NaN,NaN,NaN,21,5
23,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Utilities,NaN,0.0,0.000000e+00,0.00,0.0,0.0,22,5
24,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Construction,NaN,0.0,0.000000e+00,0.00,0.0,0.0,23,5
25,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Manufacturing,d/,NaN,NaN,NaN,NaN,NaN,31,5
26,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Wholesale Trade,NaN,0.0,0.000000e+00,0.00,0.0,0.0,42,5
27,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Retail Trade,NaN,0.0,0.000000e+00,0.00,0.0,0.0,44,5
28,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Transportation and Warehousing,NaN,0.0,0.000000e+00,0.00,0.0,0.0,48,5
29,2015,9A,Credit Claimed,Alternative Fuels and Electric Vehicle Recharg...,Information,NaN,0.0,0.000000e+00,0.00,0.0,0.0,51,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21390,2001,9A,Credit Used,Investment Tax Credit,Management of Companies and Enterprises,NaN,54.0,9.325645e+06,13.77,14161.0,172697.0,55,6
21391,2001,9A,Credit Used,Investment Tax Credit,Administrative/Support/Waste Management/Remedi...,NaN,4.0,1.097000e+04,0.02,1757.0,2743.0,56,6
21392,2001,9A,Credit Used,Investment Tax Credit,Educational Services,NaN,0.0,0.000000e+00,0.00,0.0,0.0,61,6
21393,2001,9A,Credit Used,Investment Tax Credit,Health Care and Social Assistance,NaN,19.0,7.592400e+04,0.11,1972.0,3996.0,62,6
21394,2001,9A,Credit Used,Investment Tax Credit,"Arts, Entertainment, and Recreation",d/,NaN,NaN,NaN,NaN,NaN,71,6
21395,2001,9A,Credit Used,Investment Tax Credit,Accommodation and Food Services,d/,3.0,8.577000e+03,0.01,NaN,2859.0,72,6
21396,2001,9A,Credit Used,Investment Tax Credit,Other Services (except Public Administration),NaN,10.0,1.286200e+04,0.02,576.0,1286.0,81,6
21397,2001,9A,Credit Used,Investment Tax Credit,Public Administration,NaN,0.0,0.000000e+00,0.00,0.0,0.0,92,6
21398,2001,9A,Credit Used,Investment Tax Credit,Total,NaN,2208.0,6.773826e+07,100.00,2173.0,30679.0,999,6
21399,2001,9A,Credit Carried Forward,Investment Tax Credit,"Agriculture, Forestry, Fishing and Hunting",NaN,253.0,1.312403e+07,0.85,15175.0,51874.0,11,8
21400,2001,9A,Credit Carried Forward,Investment Tax Credit,"Mining, Quarrying, and Oil and Gas Extraction",NaN,41.0,7.969432e+06,0.52,43289.0,194376.0,21,8
21401,2001,9A,Credit Carried Forward,Investment Tax Credit,Utilities,d/,NaN,NaN,NaN,NaN,NaN,22,8
21402,2001,9A,Credit Carried Forward,Investment Tax Credit,Construction,NaN,58.0,3.808945e+06,0.25,11937.0,65671.0,23,8
21403,2001,9A,Credit Carried Forward,Investment Tax Credit,Manufacturing,NaN,1826.0,1.045181e+09,67.68,35030.0,572388.0,31,8
21404,2001,9A,Credit Carried Forward,Investment Tax Credit,Wholesale Trade,NaN,139.0,9.759232e+06,0.63,9876.0,70210.0,42,8
21405,2001,9A,Credit Carried Forward,Investment Tax Credit,Retail Trade,NaN,49.0,3.032376e+06,0.20,5019.0,61885.0,44,8
21406,2001,9A,Credit Carried Forward,Investment Tax Credit,Transportation and Warehousing,NaN,5.0,1.341830e+05,0.01,27434.0,26837.0,48,8
21407,2001,9A,Credit Carried Forward,Investment Tax Credit,Information,NaN,62.0,1.715441e+07,1.11,36773.0,276684.0,51,8
21408,2001,9A,Credit Carried Forward,Investment Tax Credit,Finance and Insurance,NaN,0.0,0.000000e+00,0.00,0.0,0.0,52,8
21409,2001,9A,Credit Carried Forward,Investment Tax Credit,Real Estate and Rental and Leasing,NaN,18.0,5.773397e+06,0.37,32791.0,320744.0,53,8
21410,2001,9A,Credit Carried Forward,Investment Tax Credit,"Professional, Scientific, and Technical Services",NaN,112.0,3.669921e+08,23.76,15593.0,3276715.0,54,8
21411,2001,9A,Credit Carried Forward,Investment Tax Credit,Management of Companies and Enterprises,NaN,59.0,6.289490e+07,4.07,279321.0,1066015.0,55,8
21412,2001,9A,Credit Carried Forward,Investment Tax Credit,Administrative/Support/Waste Management/Remedi...,NaN,8.0,5.303285e+06,0.34,20529.0,662911.0,56,8
21413,2001,9A,Credit Carried Forward,Investment Tax Credit,Educational Services,NaN,0.0,0.000000e+00,0.00,0.0,0.0,61,8
21414,2001,9A,Credit Carried Forward,Investment Tax Credit,Health Care and Social Assistance,NaN,47.0,1.534148e+06,0.10,6269.0,32641.0,62,8
21415,2001,9A,Credit Carried Forward,Investment Tax Credit,"Arts, Entertainment, and Recreation",NaN,5.0,6.371730e+05,0.04,55042.0,127435.0,71,8
21416,2001,9A,Credit Carried Forward,Investment Tax Credit,Accommodation and Food Services,d/,NaN,NaN,NaN,NaN,NaN,72,8
21417,2001,9A,Credit Carried Forward,Investment Tax Credit,Other Services (except Public Administration),NaN,13.0,4.162710e+05,0.03,27381.0,32021.0,81,8
21418,2001,9A,Credit Carried Forward,Investment Tax Credit,Public Administration,NaN,0.0,0.000000e+00,0.00,0.0,0.0,92,8
21419,2001,9A,Credit Carried Forward,Investment Tax Credit,Total,NaN,2698.0,1.544374e+09,100.00,28241.0,572414.0,999,8

In [20]:
# Drop the unnecessary columns before the NaN because some had empty values
employment_df = employment_df.drop(columns = ["Tax Article", "Credit Type", "Notes",
                          "Median Amount of Credit", "Mean Amount of Credit",
                          "Group Sort Order", "Credit Type Sort Order", " Credit Name"])
employment_df.head()

,Tax Year,NAICS Description,Number of Taxpayers,Amount of Credit,Percent of Credit
0,2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.0,0.0
1,2015,"Mining, Quarrying, and Oil and Gas Extraction",NaN,NaN,NaN
2,2015,Utilities,0.0,0.0,0.0
3,2015,Construction,0.0,0.0,0.0
4,2015,Manufacturing,NaN,NaN,NaN

In [21]:
# Drop the NaNs
employment_df = employment_df.dropna(axis=0,  how='any')
employment_df

,Tax Year,NAICS Description,Number of Taxpayers,Amount of Credit,Percent of Credit
0,2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.000000e+00,0.00
2,2015,Utilities,0.0,0.000000e+00,0.00
3,2015,Construction,0.0,0.000000e+00,0.00
5,2015,Wholesale Trade,0.0,0.000000e+00,0.00
6,2015,Retail Trade,0.0,0.000000e+00,0.00
7,2015,Transportation and Warehousing,0.0,0.000000e+00,0.00
8,2015,Information,0.0,0.000000e+00,0.00
9,2015,Finance and Insurance,0.0,0.000000e+00,0.00
10,2015,Real Estate and Rental and Leasing,0.0,0.000000e+00,0.00
13,2015,Administrative and Support and Waste Managemen...,0.0,0.000000e+00,0.00
14,2015,Educational Services,0.0,0.000000e+00,0.00
15,2015,Health Care and Social Assistance,0.0,0.000000e+00,0.00
16,2015,"Arts, Entertainment, and Recreation",0.0,0.000000e+00,0.00
17,2015,Accommodation and Food Services,0.0,0.000000e+00,0.00
19,2015,Public Administration,0.0,0.000000e+00,0.00
20,2015,Total,5.0,3.986600e+04,100.00
21,2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.000000e+00,0.00
23,2015,Utilities,0.0,0.000000e+00,0.00
24,2015,Construction,0.0,0.000000e+00,0.00
26,2015,Wholesale Trade,0.0,0.000000e+00,0.00
27,2015,Retail Trade,0.0,0.000000e+00,0.00
28,2015,Transportation and Warehousing,0.0,0.000000e+00,0.00
29,2015,Information,0.0,0.000000e+00,0.00
30,2015,Finance and Insurance,0.0,0.000000e+00,0.00
31,2015,Real Estate and Rental and Leasing,0.0,0.000000e+00,0.00
34,2015,Administrative and Support and Waste Managemen...,0.0,0.000000e+00,0.00
35,2015,Educational Services,0.0,0.000000e+00,0.00
36,2015,Health Care and Social Assistance,0.0,0.000000e+00,0.00
37,2015,"Arts, Entertainment, and Recreation",0.0,0.000000e+00,0.00
38,2015,Accommodation and Food Services,0.0,0.000000e+00,0.00
...,...,...,...,...,...
21387,2001,Finance and Insurance,0.0,0.000000e+00,0.00
21388,2001,Real Estate and Rental and Leasing,12.0,3.116300e+04,0.05
21389,2001,"Professional, Scientific, and Technical Services",87.0,1.180217e+07,17.42
21390,2001,Management of Companies and Enterprises,54.0,9.325645e+06,13.77
21391,2001,Administrative/Support/Waste Management/Remedi...,4.0,1.097000e+04,0.02
21392,2001,Educational Services,0.0,0.000000e+00,0.00
21393,2001,Health Care and Social Assistance,19.0,7.592400e+04,0.11
21395,2001,Accommodation and Food Services,3.0,8.577000e+03,0.01
21396,2001,Other Services (except Public Administration),10.0,1.286200e+04,0.02
21397,2001,Public Administration,0.0,0.000000e+00,0.00
21398,2001,Total,2208.0,6.773826e+07,100.00
21399,2001,"Agriculture, Forestry, Fishing and Hunting",253.0,1.312403e+07,0.85
21400,2001,"Mining, Quarrying, and Oil and Gas Extraction",41.0,7.969432e+06,0.52
21402,2001,Construction,58.0,3.808945e+06,0.25
21403,2001,Manufacturing,1826.0,1.045181e+09,67.68
21404,2001,Wholesale Trade,139.0,9.759232e+06,0.63
21405,2001,Retail Trade,49.0,3.032376e+06,0.20
21406,2001,Transportation and Warehousing,5.0,1.341830e+05,0.01
21407,2001,Information,62.0,1.715441e+07,1.11
21408,2001,Finance and Insurance,0.0,0.000000e+00,0.00
21409,2001,Real Estate and Rental and Leasing,18.0,5.773397e+06,0.37
21410,2001,"Professional, Scientific, and Technical Services",112.0,3.669921e+08,23.76
21411,2001,Management of Companies and Enterprises,59.0,6.289490e+07,4.07
21412,2001,Administrative/Support/Waste Management/Remedi...,8.0,5.303285e+06,0.34
21413,2001,Educational Services,0.0,0.000000e+00,0.00
21414,2001,Health Care and Social Assistance,47.0,1.534148e+06,0.10
21415,2001,"Arts, Entertainment, and Recreation",5.0,6.371730e+05,0.04
21417,2001,Other Services (except Public Administration),13.0,4.162710e+05,0.03
21418,2001,Public Administration,0.0,0.000000e+00,0.00
21419,2001,Total,2698.0,1.544374e+09,100.00

In [22]:
# Filter the dataset by year to make it match with the first one
employment_df = employment_df[employment_df["Tax Year"] > 2000]
employment_df = employment_df[employment_df["Tax Year"] < 2016]
employment_df.head()

,Tax Year,NAICS Description,Number of Taxpayers,Amount of Credit,Percent of Credit
0,2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.0,0.0
2,2015,Utilities,0.0,0.0,0.0
3,2015,Construction,0.0,0.0,0.0
5,2015,Wholesale Trade,0.0,0.0,0.0
6,2015,Retail Trade,0.0,0.0,0.0

In [23]:
# Concatenate Year and Name of the Industry Sector
employment_df["year_naics"] = employment_df["Tax Year"].map(str) + [" "] + employment_df["NAICS Description"]
employment_df.head()

,Tax Year,NAICS Description,Number of Taxpayers,Amount of Credit,Percent of Credit,year_naics
0,2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.0,0.0,"2015 Agriculture, Forestry, Fishing and Hunting"
2,2015,Utilities,0.0,0.0,0.0,2015 Utilities
3,2015,Construction,0.0,0.0,0.0,2015 Construction
5,2015,Wholesale Trade,0.0,0.0,0.0,2015 Wholesale Trade
6,2015,Retail Trade,0.0,0.0,0.0,2015 Retail Trade

In [24]:
# Reset Index
employment_df = employment_df.set_index("year_naics")
employment_df.head()

,Tax Year,NAICS Description,Number of Taxpayers,Amount of Credit,Percent of Credit
year_naics,,,,,
"2015 Agriculture, Forestry, Fishing and Hunting",2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.0,0.0
2015 Utilities,2015,Utilities,0.0,0.0,0.0
2015 Construction,2015,Construction,0.0,0.0,0.0
2015 Wholesale Trade,2015,Wholesale Trade,0.0,0.0,0.0
2015 Retail Trade,2015,Retail Trade,0.0,0.0,0.0

In [25]:
employment_df = employment_df.rename(columns ={"Number of Taxpayers": "taxpayers_number",
                                              "Amount of Credit": "credit_amount",
                                              "Percent of Credit": "credit_percent"})
employment_df.head()

,Tax Year,NAICS Description,taxpayers_number,credit_amount,credit_percent
year_naics,,,,,
"2015 Agriculture, Forestry, Fishing and Hunting",2015,"Agriculture, Forestry, Fishing and Hunting",0.0,0.0,0.0
2015 Utilities,2015,Utilities,0.0,0.0,0.0
2015 Construction,2015,Construction,0.0,0.0,0.0
2015 Wholesale Trade,2015,Wholesale Trade,0.0,0.0,0.0
2015 Retail Trade,2015,Retail Trade,0.0,0.0,0.0

In [26]:
# Pivot table
employment_df_pivot = pd.pivot_table(employment_df, values = ["taxpayers_number", "credit_amount", "credit_percent"],
                                 index = "year_naics", aggfunc = {"taxpayers_number": np.sum,
                                                                 "credit_amount": np.sum, 
                                                                 "credit_percent": np.mean})

employment_df_pivot.head()

,credit_amount,credit_percent,taxpayers_number
year_naics,,,
2001 Accommodation and Food Services,595243.0,0.489000,391.0
2001 Administrative/Support/Waste Management/Remediation Services,14477813.0,0.678182,257.0
"2001 Agriculture, Forestry, Fishing and Hunting",29273860.0,0.532500,988.0
"2001 Arts, Entertainment, and Recreation",1784644.0,0.215556,217.0
2001 Construction,14271437.0,2.196667,1282.0

In [27]:
# Transformed Fisrt Dataset
credit_df_pivot.head()

,average_employment,establishments,total_wage
year_naics,,,
2001 Accommodation,3104.384091,44061,9.487527e+09
2001 Accommodation and Food Services,18073.588362,622181,3.533625e+10
2001 Administrative and Support Services,14426.309890,360768,4.788882e+10
2001 Administrative and Waste Services,14919.989130,381305,5.082784e+10
2001 Agriculture & Forestry Support Activity,160.146552,4910,2.364816e+08

In [28]:
# Transformed Second Dataset
employment_df_pivot.head()

,credit_amount,credit_percent,taxpayers_number
year_naics,,,
2001 Accommodation and Food Services,595243.0,0.489000,391.0
2001 Administrative/Support/Waste Management/Remediation Services,14477813.0,0.678182,257.0
"2001 Agriculture, Forestry, Fishing and Hunting",29273860.0,0.532500,988.0
"2001 Arts, Entertainment, and Recreation",1784644.0,0.215556,217.0
2001 Construction,14271437.0,2.196667,1282.0

In [ ]:
# Create database connection
rds_connection_string = "postgres:Akita123@localhost:5432/ETL_project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
# Load first dataset to the database
credit_df_pivot.to_sql(name='credit_ny', con=engine, if_exists='append', index=True)

In [ ]:
# Load second dataset to the database
employment_df_pivot.to_sql(name='employment_ny', con=engine, if_exists='append', index=True)

In [ ]:
# Confirm that the first dataset was loaded in Postgres
pd.read_sql_query('select * from credit_ny', con=engine).head()

In [ ]:
# Confirm that the second dataset was loaded in Postgres
pd.read_sql_query('select * from employment_ny', con=engine).head()